*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fff;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

.logo{
    float: left;
    color: #4285F4   
}

.logo span{
    color: #696969;
}

.barra{
    float: right;
}

.barra ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
}

.barra a{
    color: #696969;
    text-decoration: none;
}

.barra a:hover{
    color: #4285F4;
}

.actividad1{
    height: 100vh;
    width: 100%;
    background-color: #333;
}

.actividad2{
    height: 70vh;
    width: 100%;
    background-color: #333;
}

.actividad3{
    height: 200vh;
    width: 100%;
    background-color: #333;
}

.actividad4{
    height: 200vh;
    width: 100%;
    background-color: #fff;
}

.Titulo{
    color:#fff;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

.SubTitulo{
    color:#fff;
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.Parrafo{
    color:#fff;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.sec1{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.redes a{
    font-size: 50px;
    color: orange;
    text-decoration: none;
}

.redes i{
    letter-spacing: 20px;
}

.card{
    width: 250px;
    height: 270px;
    background-color: #fff;
    border: 3px solid #4285F4;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
    margin-top: 50px;
}

.card h3{
    color: #222;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card p{
    text-align: justify;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: #222;
}

.card .redes a{
    color: #4285F4;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
}

.video{
    color:#fff;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

.archivo_de_video{
    margin-top: 30px;
}

.audio{
    color:#fff;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

.archivo_de_audio{
    margin-top: 30px;
}

.documento{
    color:#fff;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

.archivo_de_texto{
    margin-top: 30px;
    width: 400px;
    height: 400px;
}

footer{
    background-color: #000;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
